<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" type="text/css" href="~/CSS/MainStyle.css"/>
        <link rel="stylesheet" type="text/css" href="~/PersonalWebApp.styles.css"/>
        <title>Personal WebApp | @ViewBag.Title</title>
    </head>
    <body style="background-color: #232323;">
        <div class="header">
            <a class="aheader @ViewBag.HomeHeader" href="@Url.Action("Index", "Home")">Home</a>
            <a class="aheader @ViewBag.NewsHeader" href="@Url.Action("Index", "News")">News</a>
            <a class="aheader @ViewBag.ProjectsHeader" href="@Url.Action("Index", "Projects")">Projects</a>
        </div>
        <div class="main">@RenderBody()</div>
        <div class="footer">Footer.</div>
    </body>
</html>