<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" type="text/css" href="~/CSS/MainStyle.css"/>
        <link rel="stylesheet" type="text/css" href="~/PersonalWebApp.styles.css"/>
        <title>Personal WebApp | @ViewBag.Title</title>
    </head>
    <body>
        <div class="header">
            <div class="invisible">
                <a class="abutton @ViewBag.HomeHeader" href="@Url.Action("Index", "Home")">Home</a>
                <a class="abutton @ViewBag.NewsHeader" href="@Url.Action("Index", "News")">News</a>
                <a class="abutton @ViewBag.ProjectsHeader" href="@Url.Action("Index", "Projects")">
                    Projects</a>
            </div>
            
                @if(User.Identity.IsAuthenticated)
                {
                    <div class="dropdown" id="divuser">
                        <div class="dropdown-head">
                            @User.Identity.Name
                        </div>
                        <div class="dropdown-content">
                            <a class="auser" href="@Url.Action("Edit", "Account")">Edit account</a>
                            <a class="auser" href="@Url.Action("Index", "Profile", new {name = User.Identity.Name})">Profile</a>
                            <a class="auser" href="@Url.Action("Edit", "Profile")">Edit profile</a>
                            <a class="auser" href="@Url.Action("LogOut", "Account")">Log Out</a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="invisible" id="divuser">
                        <a class="abutton auser @ViewBag.RegisterUserHeader"
                            href="@Url.Action("Register", "Account")">Register</a>
                        <a class="abutton auser @ViewBag.LoginUserHeader"
                            href="@Url.Action("SignIn", "Account")">Sign In</a>
                    </div>
                }
        </div>
        <div class="article">@RenderBody()</div>
        <div class="footer">Footer.</div>
    </body>
</html>